<div id="attendance-wrapper" style="margin-left: 14px; margin-top: -42px">
  <div class="panel panel-top">
    <h1 class="page-header">
        Enter Attendance
    </h1>
  </div>
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12 col-sm-12">
           <div class="panel panel-default ">
            <div class="panel-body">
              <div ng-class="alertClass" style="text-align: center">
                <strong>{{alertMessage}}</strong>
              </div>
                <form class="attendance-form" ng-submit="submitAttendance()">
                    <div class="col-md-12">
                       <div class="row">
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Date:</label>
                             <div class="col-sm-8">          
                                <input type="Date" class="form-control" ng-model="date">
                             </div>
                          </div>
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Total Count</label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="headcount" placeholder="10">
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Present - morning</label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="present_m" placeholder="10">
                             </div>
                          </div>
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Present - evening</label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="present_e" placeholder="10">
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Absent</label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="absent" placeholder="5">
                             </div>
                          </div>
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Weekly - Off
                             </label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="weekoff" placeholder="2">
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Express - morning</label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model=feexpress_m placeholder="9">
                             </div>
                          </div>
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Express - evening
                             </label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="feexpress_e" placeholder="2">
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Part - timers(8-11)</label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="parttimer1" placeholder="1">
                             </div>
                          </div>
                          <div class="col-md-6">
                             <label class="control-label col-sm-4">Part - timers(12-3)
                             </label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="parttimer2" placeholder="5">
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-6">
                             <label class="control-label col-sm-4" for="pwd">Part - timers(7-12)</label>
                             <div class="col-sm-8">          
                                <input type="text" class="form-control" ng-model="parttimer3" placeholder="3">
                             </div>
                          </div>
                          <div class="col-md-6">
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-12">
                             <hr>
                             <div class="col-md-6"></div>
                             <div class="col-md-6 text-right">
                                <div class="form-group">
                                   <button type="submit" class="btn btn-primary" value="submit">Submit</button>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                </div>
              </form>
           </div>
        </div>
     </div>
  </div>
   </div>
</div>