<div id="attendance-wrapper" style="margin-left: 14px; margin-top: -42px">
  <div class="panel panel-top">
      <h1 class="page-header">
         Enter Offline 
      </h1>
  </div>
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="margin-bottom: 16px">
            </div>
            <div class="panel panel-default table-invoice table-responsive">
               <div ng-class="alertClass" style="text-align: center">
                  <strong>{{alertMessage}}</strong>
                </div>
               <table class="table table-bordered table-fixedheader" style="background-color: white">
                  <thead style="width:98%;">
                     <tr>
                        <th width="9%" class="text-center">Date</th>
                        <th width="9%" class="text-center">Order Code</th>
                        <th width="9%" class="text-center">Merchant Id</th>
                        <th width="9%" class="text-center">Merchant Name</th>
                        <th width="9%" class="text-center">Client /Source</th>
                        <th width="9%" class="text-center">Ground Pilot name</th>
                        <th width="10%" class="text-center">Arrived at outlet time</th>
                        <th width="9%" class="text-center">Drop started date</th>
                        <th width="11%" class="text-center">Delivered Time</th>
                        <th width="11%" class="text-center">Offline Reason</th>
                        <th width="4%" class="text-center">&nbsp;</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="data in offlineData" ng-show="offlineData">
                        <td width="9%" class="text-center">
                        {{data.date|dateFilter: 'dd-MM-yyyy'}}</td>
                        <td width="9%" class="text-center" ng-bind="data.orderCode">
                        </td>
                        <td width="9%" class="text-center" ng-bind="data.merchant_id">
                        </td>
                        <td width="9%" class="text-center" ng-bind="data.merchant_name">
                        </td>
                        <td width="9%" class="text-center" ng-bind="data.client">
                        </td>
                        <td width="9%" class="text-center" ng-bind="data.fe_name">
                        </td>
                        <td width="11%" class="text-center">{{data.arrived_at|dateFilter: 'hh:mm'}}
                        </td>
                        <td width="11%" class="text-center">{{data.drop_started_at|dateFilter: 'hh:mm'}}
                        </td>
                        <td width="11%" class="text-center">{{data.delivered_at|dateFilter: 'hh:mm'}}
                        </td>
                        <td width="11%" class="text-center" ng-bind="data.offline_reason">
                        </td>
                     </tr>
                     <tr>
                        <td width="9%" class="text-center">
                           <div class="form-group">
                              <input type="Date" ng-model="date" class="form-control"/>
                              <div ng-show="date">{{date|dateFilter: 'dd-MM-yyyy'}}</div>
                           </div>
                        </td>
                        <td width="9%" class="text-center">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="0" ng-model="order_code">
                           </div>
                        </td>
                        <td width="9%" class="text-center">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="0" ng-model="merchant_id">
                           </div>
                        </td>
                        <td width="9%" class="text-center">
                           <div class="form-group">
                              <select class="form-control" ng-model="merchant_name">
                                <option ng-repeat="rest in _restaurants" value="rest.merchantName">{{rest.merchantName}}</option>
                              </select>
                           </div>
                        </td>
                        <td width="9%" class="text-center">
                           <div class="form-group">
                              <select class="form-control" ng-model="client">
                                <option ng-repeat="source in _source" value="source.name">{{source.name}}</option>
                              </select>
                           </div>
                        </td>
                        <td width="9%" class="text-center">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="xyz" ng-model="fe_name">
                           </div>
                        </td>
                        <td width="10%" class="text-center">
                           <div class="form-group">
                              <div class="dropdown">
                                  <a class="dropdown-toggle" id="dLabel2" role="button" data-toggle="dropdown" data-target="#" href="">
                                      Date <i class="fa fa-calendar"></i>
                                  </a>
                                  <div ng-show="arrived_at">{{arrived_at|dateFilter: 'hh:mm'}}</div>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
                                      <datetimepicker data-ng-model="arrived_at" data-datetimepicker-config="{ dropdownSelector: '#dLabel2' }"></datetimepicker>
                                  </ul>
                              </div>
                           </div>
                        </td>
                        <td width="9%" class="text-center">
                           <div class="form-group">
                              <div class="dropdown">
                                  <a class="dropdown-toggle" id="dLabel3" role="button" data-toggle="dropdown" data-target="#" href="">
                                      Date <i class="fa fa-calendar"></i>
                                  </a>
                                  <div ng-show="drop_started_at">{{drop_started_at|dateFilter: 'hh:mm'}}</div>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel3">
                                      <datetimepicker data-ng-model="drop_started_at" data-datetimepicker-config="{ dropdownSelector: '#dLabel3' }"></datetimepicker>
                                  </ul>
                              </div>
                           </div>
                        </td>
                        <td width="11%" class="text-center">
                           <div class="form-group">
                              <div class="dropdown">
                                  <a class="dropdown-toggle" id="dLabel4" role="button" data-toggle="dropdown" data-target="#" href="">
                                      Date <i class="fa fa-calendar"></i>
                                  </a>
                                  <div ng-show="delivered_at">{{delivered_at|dateFilter: 'hh:mm'}}</div>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel4">
                                      <datetimepicker data-ng-model="delivered_at" data-datetimepicker-config="{ dropdownSelector: '#dLabel4' }"></datetimepicker>
                                  </ul>
                              </div>
                           </div>
                        </td>
                        <td width="11%" class="text-center">
                           <div class="form-group">
                              <select class="form-control" ng-model="offline_reason">
                                 <option ng-repeat="offline in _offlineReasons" value="{{offline.reason}}">{{offline.reason}}</option>
                              </select>
                           </div>
                        </td>
                        <td width="4%" class="text-center">
                          <i class="fa fa-plus-circle" ng-click="submitOffline()"></i>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
  </div>
</div>